/node_modules
/public/hot
/public/bower
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bower.json
.bowerrc
/public/fonts
/public/images
/public/vendor
/public/img
/public/assets
